<ion-header>
  <ion-toolbar color="primary">
    <!--      <ion-button color="light" (click)="dismissLogin()">Close</ion-button>-->
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input formControlName="username" type="text"
      [class.invalid]="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)">
    </ion-input>
  </ion-item>

  <ion-item *ngIf="!loginForm.controls.username.valid  && (loginForm.controls.username.dirty || submitAttempt)">
    <p>Please enter a valid username.</p>
  </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"
        [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
      </ion-input>
    </ion-item>

    <ion-item *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.dirty || submitAttempt)">
      <p>Please enter a valid password.</p>
    </ion-item>

    <ion-button color="primary" expand="full" [disabled]="!loginForm.valid" (click)="verificarUsuario()">Ingresar
    </ion-button>
  </form>
</ion-content>