<ion-header>
  <ion-toolbar>
    <ion-title>Ingresos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="ingressForm">
    <ion-item>
      <ion-label position="floating">DNI</ion-label>
      <ion-input formControlName="dniString" type="text"
        [class.invalid]="!ingressForm.controls.dniString.valid && (ingressForm.controls.dniString.dirty || submitAttempt)">
      </ion-input>
    </ion-item>
    <ion-button color="primary" expand="full" [disabled]="!ingressForm.valid" (click)="sendIngress()">Ingresar
    </ion-button>
  </form>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let log of log | reverse; index as i">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{i}}: {{ log.status }}
        </mat-panel-title>
        <mat-panel-description>
          {{ log.persona?.documento_numero }} {{ log.error }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <p>Status: {{ log.status }}</p>
      </div>
      <div *ngIf="log.persona?.nombre">
        <p>Nombre: {{ log.persona?.nombre }}</p>
      </div>
      <div *ngIf="log.persona?.apellido">
        <p>Apellido: {{ log.persona?.apellido }}</p>
      </div>
      <div *ngIf="log.persona?.documento_numero">
        <p>Documento: {{ log.persona?.documento_tipo }}: {{ log.persona?.documento_numero }}</p>
      </div>
      <div *ngIf="log.ubicacion?.nombre">
        <p>Ubicacion: {{ log.ubicacion?.nombre }}</p>
      </div>
      <div *ngIf="log.ingreso">
        <p>Permitido a: {{ log.ingreso }}</p>
      </div>
      <div *ngIf="log.error">
        <p>Error: {{ log.error }}</p>
      </div>

    </mat-expansion-panel>
    <!-- <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel> -->
  </mat-accordion>










  <!-- 


  
  <ion-grid>
    <ion-row style="background:#7575755b">
      <ion-col color="medium">
        <ion-label>Status</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Nombre</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Apellido</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Documento</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>ubicacion</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>ingreso</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Error</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let log of log | reverse">
      <ion-col>
        <p>{{ log.status }}</p>
      </ion-col>
      <ion-col>
        <p>{{ log.persona?.nombre }}</p>
      </ion-col>
      <ion-col>
        <p>{{ log.persona?.apellido }}</p>
      </ion-col>
      <ion-col>
        <p>{{ log.persona?.documento_tipo }}: {{ log.persona?.documento_numero }}</p>
      </ion-col>
      <ion-col>
        <p>{{ log.ubicacion?.nombre }}</p>
      </ion-col>
      <ion-col>
        <p>{{ log.ingreso }}</p>
      </ion-col>
      <ion-col>
        <p>{{ log.error }}</p>
      </ion-col>
    </ion-row>
    <ion-item *ngFor="let log of log">
      {{ log.status }}
    </ion-item>
  </ion-grid> -->
</ion-content>