<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>{{token}}</p>
  <ion-button expand="full" color="danger" (click)="ingressPage()">Ingresar empleado</ion-button>
</ion-content>